<input id="file-input" #fileInput type="file" (change)="loadFile()">
<br>

<fa-icon [styles]="{'color': '#022a5b'}" id="previous" [icon]="faChevronLeft" size="6x" (click)="changePage(false)"></fa-icon>

<fa-icon [styles]="{'color': '#022a5b'}" id="next" [icon]="faChevronRight" size="6x" (click)="changePage(true)"></fa-icon>

<span id="page-counter" #pageCounter>Page {{ currentPageNumber }} / {{ numberOfPages }}</span>

<!-- <iframe [src]="pdf64"></iframe> -->

<canvas #theCanvas id="the-canvas"></canvas>

<fa-icon [styles]="{'color': '#022a5b'}" id="delete" [icon]="faTrash" size="3x" (click)="deletePage()"></fa-icon>

<div id="previewContainer">
  <canvas #leftCanvas id="left-canvas"></canvas>
  <canvas #middleCanvas id="left-canvas"></canvas>
  <canvas #rightCanvas id="left-canvas"></canvas>
</div>

<fa-icon [styles]="{'color': '#022a5b'}" id="download" [icon]="faDownload" size="3x" (click)="copyToClipboard()"></fa-icon>
